name: OpenWrt NSS Build

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Run daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Build OpenWrt Image
      run: nix develop --command build-nss-image

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-images
        path: source/bin/targets/qualcommax/ipq60xx/
